<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/42a182743f.js" crossorigin="anonymous"></script>
  <!-- Google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@400;500&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css" />
  <title>Responsive design </title>
</head>

<body>
  <!-- nav -->
  <nav>
    <div>
      <img src="/images/logo.png" alt="logo" />
    </div>

    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Posts</a>
      </li>
      <li>
        <a href="#">Login</a>
      </li>
      <li>
        <a href="#">Register</a>
      </li>
      <li>
        <a href="#" class="create-post-btn">New Post</a>
      </li>
    </ul>
  </nav>
  <!-- header -->
  <header>

    <div class="header-content">

      <h1>You write, We read</h1>
      <p>
        "Discover a unique platform where readers explore like researchers and writers publish like professional
        publishers.
        <br> Welcome to Inovotech blog!"
      </p>
      <a href="#">
        <span>Create New Post</span>
      </a>


  </header>
  <!-- Latest post title -->

  <div class="latest-post-title">
    <!-- Icon -->
    <div class="icon">
      <i class="fas fa-book-open"></i>
    </div>
    <h1>Latest Posts (20)</h1>
    <p>
      You will find most popular and latest trending posts here
    </p>
  </div>

  <!-- content -->
  <section class="container-flex">
    <article class="post-content">

      <img src="./images/post3.jpg" alt="" class="post-image" />
      <p class="post-info">
        <span class="post-author">
          <i class="fas fa-user"></i>
          <a href="#">Shubhankar Saha</a>
        </span>
        <span class="post-date">
          <i class="far fa-calendar-alt"></i>
          <time datetime="2020-04-25">April 25, 2023</time>
        </span>
      </p>
      <h1 class="post-title">Become a Web Developer</h1>
      <p class="post-body">
        Technology plays a huge role in our daily lives, from the simplest of apps to the most groundbreaking
        inventions.
        Every website or piece of software that we encounter has been built by a developer—but what exactly is web
        development,
        and what do they do?
        All of this will be answered in this guide to how to become a web developer.
      </p>
      <!-- category -->
      <div class="post-category">
        <span>Category:</span>
      </div>
      <a href="/" class="post-read-more">Continue Reading...</a>
    </article>

    <article class="post-content">

      <img src="./images/post7.jpg" alt="" class="post-image" />
      <p class="post-info">
        <span class="post-author">
          <i class="fas fa-user"></i>
          <a href="#">Sonal Jha</a>
        </span>
        <span class="post-date">
          <i class="far fa-calendar-alt"></i>
          <time datetime="2023-04-25">April 25, 2023</time>
        </span>
      </p>
      <h1 class="post-title">Why MERN Stack is on Hot Cake?</h1>
      <p class="post-body">
        It is used by developers worldwide. The main purpose of using MERN stack is to develop apps
        using JavaScript only. This is because the four technologies that make up the technology
        stack are all JS-based. Thus, if one knows JavaScript (and JSON), the backend, frontend,
        and database can be operated easily.Mern Stack is a Combination of the Most
      </p>
      <!-- category -->
      <div class="post-category">
        <span>Category:</span>
      </div>
      <a href="/" class="post-read-more">Continue Reading...</a>
    </article>

    <article class="post-content">

      <img src="./images/post7.jpg" alt="" class="post-image" />
      <p class="post-info">
        <span class="post-author">
          <i class="fas fa-user"></i>
          <a href="#">Shubhankar</a>
        </span>
        <span class="post-date">
          <i class="far fa-calendar-alt"></i>
          <time datetime="2023-04-25">April 25, 2023</time>
        </span>
      </p>
      <h1 class="post-title">How to make career in robotics</h1>
      <p class="post-body">
        Robotics engineering is a growing field that entails a combination of data analysis,
        engineering, and computer science. People working in these fields use software and
        mechanical hardware to design, build, and test robots and their related machine-based processes.Robotics is a
        branch of engineering that involves the conception, design
      </p>
      <!-- category -->
      <div class="post-category">
        <span>Category:</span>

      </div>
      <a href="/" class="post-read-more">Continue Reading...</a>
    </article>




  </section>
  <!-- footer -->
  <footer>
    <div class="about">
      <h1><span class="logo-text">Novotek </span> <span>Blog</span></h1>
      <p>
        Whether sharing your expertise, breaking news, or whatever’s on your mind, you’re in good company on Novotek
      </p>
      <!-- Contacts -->
      <div class="contact">
        <span>
          <i class="fas fa-phone"></i>
          + (91) 78085 34717
          <i class="fas fa-phone"></i>
          + (91) 93306 43384
        </span>
        <span>
          <i class="fas fa-envelope"></i>

          <a href="mailto:support@inovotek.com">
            support@inovotek.com
          </a>
        </span>

      </div>
      <!-- socials -->
      <div class="socials">

        </a>
        <a href="https://www.playstore.com">
          <i class="fab fa-google-play"></i>
        </a>
        <a href="https://www.youtube.com">
          <i class="fab fa-youtube"></i>
        </a>

        <a href="https://www.instagram.com">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.twitter.com">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.facebook.com">
          <i class="fab fa-facebook"></i>
        </a>
      </div>


      <div class="Managed">
        <span>Created and managed by <a href="#"> Sonal - Shubhakar</a> |
          <span class="fas-fa-copyright">2023 All
            rights
            reserved.</span>

        </span>
      </div>

  </footer>
</body>

</html>